extends base.pug

block content
    p.logo Contact me
    
    img(src='/pic/contact.jpg', alt='Me', style='width: 40%;')
    
    p
        h1(style="font-family: \"Bitter\", sans-serif; font-size: 2em;") I would be happy to contact with you
     
        a(href='mailto:ivan.eresko@pm.me')
            img(src='/pic/icons/email.png')
        a(href='http://www.facebook.com/profile.php?id=100019021544687', target='_blank')
            img(src='/pic/icons/facebook.png')
        a(href='https://www.linkedin.com/in/ivaneresko/', target='_blank')
            img(src='/pic/icons/linkedin.png')
        a(href='http://github.com/yaquake', target='_blank')
            img(src='/pic/icons/github.png')


    